<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
  <%= @publication.code %>
</p>

<p>
  <strong>Title:</strong>
  <%= @publication.title %>
</p>

<p>
  <strong>Date:</strong>
  <%= @publication.date %>
</p>

<p>
  <strong>P type:</strong>
  <%= @publication.p_type %>
</p>

<%= link_to 'Edit', edit_publication_path(@publication) %> |
<%= link_to 'Back', publications_path %>
